<%- include('../partials/header') %>
<h1><%= title %></h1> 
<iframe width="560" height="315" src=<%= slams.link %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<form action="/slams/<%= slams._id %>/comments" method="POST">
    <input name="comment">
    <button type="submit">ADD COMMENT</button>
  </form>
    <section id="comments">
        <br>
        <% slams.comments.forEach(c =>{ %>
    <img src=<%= c.commentUserAvatar %> >
    <p><%= c.username %> </p>
    <h1><%= c.comment %> </h1>
        <% }) %> 
        <!-- i need to be able to delete and exit comments -->
    </section>
    <a href="/">Home Page</a>
    <!-- Be sure and name attributes of inputs to match the model properties -->
    <form action='/slams/<%=slams._id%>?_method=DELETE' method="POST">
    <input type="submit">Delete Post</input>
    </form>
</body>
</html>
