<%- include('./partials/header') %>

<% if (user) { %> 
<form id="addPost" method="POST" action="/">
    <input type="text" name="link">
    <button type="submit" value="POST">POST</button>
</form>

<%} else { %>
    <section id="notloggedin"><H1> LOG IN TO POST A CLIP! ^^^^^^^^^^</H1></section>
    <% }; %> 
<section id="feed">
    <br>
    <% slams.forEach(p =>{ %>
<img src=<%= p.userAvatar %> >
<p><%= p.userName %> </p>
<iframe width="560" height="315" src=<%= p.link %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<a href="/slams/<%= p._id %>">Comment Section</a> 
    <% }) %> 
<br>  
</section>
</body>
</html>