<%- include('./partials/header') %>
<% if (user) { %> 
<form id="addPost" method="POST" action="/">
    <input type="text" name="link">
    <button type="submit" value="POST">POST</button>
</form>

<%}; %>
<section id="feed">
    <br>
    <% slams.forEach(p =>{ %>
<img src=<%= p.userAvatar %> >
<p><%= p.userName %> </p>
<h1> Link: <%= p.link %> </h1>
<a href="/slams/<%= p._id %>">Comment Section</a> 
    <% }) %> 
<br>  
</section>
</body>
</html>